header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Assure une position au-dessus d'autres éléments si nécessaire */
}

body {
    background-color: #191818;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles pour le footer */
footer {
    background-color: black;
    color: white;
    padding: 10px 0;
    position: fixed;
	justify-content: center;
	display: relative;
    left: 0;
    bottom: 15px;
    width: 100%; /* Occupe toute la largeur de l'écran */
    z-index: 1000; /* Assure une position au-dessus d'autres éléments si nécessaire */
}

.container {
    display: flex;
    justify-content: center; /* Centrer horizontalement les colonnes */
	height: 100vw;
}

.column {
    width: 185px; /* Ajustez la largeur des colonnes selon vos besoins */
	height: 230vw;
    margin: 10px;
	position: relative;
}

.column:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Overlay noir semi-transparent */
}

.column:first-child {
    background-image: url('studio.png');
    background-size: cover;
    animation: scrollLeftRight 15s infinite alternate; /* Applique l'animation */
	opacity: 1;
}

/* Animation pour faire défiler l'image de droite à gauche puis de gauche à droite */
@keyframes scrollLeftRight {
    0% {
        background-position: left; /* Position initiale à droite */
    }
    100% {
        background-position: right; /* Position finale à gauche */
    }
}

.column:last-child {
      background-image: url('jeux.png'); /* Image pour la div annonce */
  background-size: cover;
    animation: scrollRightLeft 15s infinite alternate; /* Applique l'animation */
	opacity: 1;
}

/* Animation pour faire défiler l'image de droite à gauche puis de gauche à droite */
@keyframes scrollRightLeft {
    0% {
        background-position: right; /* Position initiale à droite */
    }
    100% {
        background-position: left; /* Position finale à gauche */
    }
}

.logo-container {
    position: fixed;
    background-color: white;
    text-align: center;
    max-height: 450px;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 1;
}

.logo {
    max-width: 50%;
    height: auto;
    margin-top: 0;
    margin-left: 0;
}

.bande-noire {
    font-family: Candara, sans-serif;
    background-color: black;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 100vw;
    padding: 0.1vw;
    box-sizing: border-box;
    line-height: 0.1;
    margin-bottom: 1vw;
    position: fixed;
    top: -3vw;
    left: 0;
    z-index: 2;
	    margin-top: 13vw;
}

/* Media query pour les écrans de taille différente */
@media screen and (min-width: 768px) {
  .logo {
    width: 20%;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    width: 55%;
  }
    .bande-noire {
    font-size: 15px;
    padding: 0px;
    margin-top: 30vw;
  }
}

.youtube {
position: fixed;
bottom:75px;
z-index:20000;
align-items: center;
display: flex;
}

.youtube img{
	width: 60px;
	height: auto;
	padding: 5px;
	align-self: center;
}

.text-container {
    position: relative;
    height: 100%; /* Hauteur de la colonne */
    display: flex;
margin-top:200px;
    justify-content: center; /* Centre le texte horizontalement */
}

.text-container p {
    color: white; /* Couleur du texte */
		background-color: rgba(0, 0, 0, 0.3);
	font-family: Arial, bold;
	font-weight: bold;
	height: 20px;
	width: auto;
    font-size: 18px; /* Taille du texte */
    margin: 0; /* Supprime les marges par défaut */
    padding: 15px; /* Ajoute du padding pour un meilleur aspect */
    border-radius: 5px; /* Bord arrondi pour le texte */
    animation: zoomInOut 1s infinite alternate; /* Animation de zoom et dézoom pendant 5 secondes */
}

@keyframes zoomInOut {
    0% {
        transform: scale(0.8); /* Échelle normale au début */
    }
    100% {
        transform: scale(1.1); /* Retour à l'échelle normale à la fin */
    }
}

.text-container2 {
    position: relative;
    height: 100%; /* Hauteur de la colonne */
    display: flex;
margin-top:200px;
    justify-content: center; /* Centre le texte horizontalement */
}

.text-container2 p {
    color: white; /* Couleur du texte */
		background-color: rgba(0, 0, 0, 0.3);
	font-family: Arial, bold;
	font-weight: bold;
	height: 20px;
	width: auto;
    font-size: 18px; /* Taille du texte */
    margin: 0; /* Supprime les marges par défaut */
    padding: 15px; /* Ajoute du padding pour un meilleur aspect */
    border-radius: 5px; /* Bord arrondi pour le texte */
    animation: zoomInOut2 1s infinite alternate; /* Animation de zoom et dézoom pendant 5 secondes */
}

@keyframes zoomInOut2 {
    0% {
        transform: scale(1.2); /* Échelle normale au début */
    }
    100% {
        transform: scale(0.8); /* Retour à l'échelle normale à la fin */
    }
}

.footer-line {
    background: linear-gradient(to right, transparent 10%, white 40%, white 60%, transparent 90%);
    height: 4px; /* Ajustez l'épaisseur de la ligne selon vos besoins */
    width: 80vw; /* Occupe 80% de la largeur de l'écran */
    margin: 0 auto; /* Centre la ligne horizontalement */
}

footer ul {
    list-style: none;
    padding: 5px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
}

footer ul li {
    margin-right: 20px;
    margin-bottom: 0px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 0px;
    border-radius: 0px;
    display: inline-block;
}

footer ul li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    footer ul li {
        margin-right: 10px;
        margin-bottom: 0px;
    }
  
    footer ul li a {
        padding: 4px 8px;
        font-size: 12px;
    }
}